@charset "UTF-8";


.noticias{
    width: 1300px;
    height:  450px;
    margin-right: 130px;
    margin-bottom: 150px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: large;
    border-radius: 7px;
}
.noticias-cont{
    width: 600px;
    height: 420px;
    display: flex;
    justify-content: center;
    flex-direction:  column;
    text-align: start;
}
.noticias > a > img{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 70px 52px 70px 52px;
    width: 500px;
    height: 300px;
}
.noticias-cont > h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
    order: 1;
}
.noticias-cont > p{
    order: 2;
}
.noticias-cont > aside{
    order: 3;
}